{% extends 'layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/trial.css' %}">
    <link rel="stylesheet" href="{% static 'css/list_user.css' %}">
{% endblock css %}

{% block title %}List User{% endblock title %}

{% block content %}
<div class="tampilan">
    <h1 class="poppins">ini list user yang dah login</h1>
    <table class="table table-borderless table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nama</th>
          <th scope="col">Fakultas</th>
          <th scope="col">Angkatan</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        {% for x in mhs %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="/user/{{x.user.username}}" title="">{{x.user.first_name}}</a></td>
            <td>{{x.fakultas}}</td>
            <td>{{x.angkatan}}</td>
            <td>
                <button class="kirim btn btn-dark" value={{x.user.username}}>Request</button>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

</div>
{% endblock content %}

{% block js %}
    <script src="{% static 'js/trial.js' %}"></script>
    <script src="{% static 'js/dash.js' %}"></script>
{% endblock js %}