{% extends 'layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/trial.css' %}">
{% endblock css %}

{% block title %}Page buat belajar{% endblock title %}

{% block content %}
<div class="tampilan">
    <h1>ini ceritanya page buat belajar ya mek</h1><br>
    <h3><a href="./user/">list user</a></h3>
</div>

<embed src="https://www.youtube.com/embed/5qap5aO4i9A" allowscriptaccess="always" allowfullscreen="false" width="480" height="385"></embed>

{% endblock content %}

{% block js %}
    <script src="{% static 'js/trial.js' %}"></script>
{% endblock js %}