{% extends 'layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/trial.css' %}">
{% endblock css %}

{% block title %}{{mhs.user.first_name}}{% endblock title %}

{% block content %}
<div class="tampilan">
    <h2>{{mhs.user.first_name}}</h2>
    <table>
    	<tbody>
    		<tr>
    			{% if user.is_authenticated and user.username == mhs.user.username or user.is_superuser %}
    			<td><a href="{{mhs.user.username}}/edit" title="">Edit</a></td>
    			{% endif %}
    		</tr>
    		<tr>
    			<td>Nama</td>
    			<td>{{mhs.user.first_name}}</td>
    		</tr>
    		<tr>
    			<td>NPM</td>
    			<td>{{mhs.user.last_name}}</td>
    		</tr>
    		<tr>
    			<td>Fakultas</td>
    			<td>{{mhs.fakultas}}</td>
    		</tr>
    		<tr>
    			<td>Size Punya</td>
    			<td>{{mhs.size_punya}}</td>
    		</tr>
    		<tr>
    			<td>Size Ingin</td>
    			<td>{{mhs.size_ingin}}</td>
    		</tr>
    		<tr>
    			<td>Deskripsi Jakun</td>
    			<td>{{mhs.desc}}</td>
    		</tr>
    		<tr>
    			<td>Sudah Tukar</td>
    			{% if mhs.sudah_tukar %}
    			<td>Sudah</td>
    			{% else %}
    			<td>Belum</td>
    			{% endif %}
    		</tr>
    	</tbody>
    </table>
</div>
{% endblock content %}

{% block js %}
    <script src="{% static 'js/trial.js' %}"></script>
{% endblock js %}