{% extends 'layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/landingpage.css' %}">
{% endblock css %}

{% block title %}Jakunku Homepage{% endblock title %}

{% block content %}
<div class="tampilan">
    <h1>Belajar cuy</h1>
    <h2 class="poppins">klo belajar akses ke <a href="trial/">page buat latihan</a></h2>
    {% if user.is_authenticated %}
    <h2>Hi there, {{ user.first_name }}, {{ user.last_name }}</h2>
    {% if message %}
    <div>Akun akan terlogout otomatis dalam <span id="time"></span> menit tanpa aktivitas</div>
    {% endif %}
    <a href="logout/" class="btn btn-dark" name='kelogout'>Logout</a>
    {% else %}
    <h2>You are not logged in, please login via SSO UI</h2>
    <a href="login/" class="btn btn-dark" name="login">Login</a>
    {% endif %}
</div>

{% endblock content %}

{% block js %}
    <script src="{% static 'js/landingpage.js' %}"></script>
    <script>
        function startTimer(duration, display) {
            var start = Date.now(),
                diff,
                minutes,
                seconds;
            function timer() {
                // get the number of seconds that have elapsed since 
                // startTimer() was called
                diff = duration - (((Date.now() - start) / 1000) | 0);

                // does the same job as parseInt truncates the float
                minutes = (diff / 60) | 0;
                seconds = (diff % 60) | 0;

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = minutes + ":" + seconds; 

                if (diff <= 0) {
                    // add one second so that the count down starts at the full duration
                    // example 05:00 not 04:59
                    start = Date.now() + 1000;
                }
            };
            // we don't want to wait a full second before the timer starts
            timer();
            setInterval(timer, 1000);
        }

        window.onload = function () {
            var fiveMinutes = 60 * 5,
                display = document.querySelector('#time');
            startTimer(fiveMinutes, display);
        };
    </script>
{% endblock js %}