{% extends 'layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/trial.css' %}">
{% endblock css %}

{% block title %}{{mhs.user.first_name}}{% endblock title %}

{% block content %}
<div class="tampilan">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    <br>
</div>
{% endblock content %}

{% block js %}
    <script src="{% static 'js/trial.js' %}"></script>
{% endblock js %}