{% extends 'layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/trial.css' %}">
{% endblock css %}

{% block title %}{{mhs.user.first_name}}{% endblock title %}

{% block content %}
<div class="tampilan">
  <h1 class="poppins">{{mhs.user.first_name}}</h1>
    <table>
        <tbody>
            <tr class="spaceUnder">
                <td>Nama</td>
                <td>{{mhs.user.first_name}}</td>
            </tr>
            <tr class="spaceUnder">
                <td>NPM</td>
                <td>{{mhs.user.last_name}}</td>
            </tr>
            <tr class="spaceUnder">
                <td>Fakultas</td>
                <td>{{mhs.fakultas}}</td>
            </tr>
            <tr class="spaceUnder">
                <td>Size Punya</td>
                <td>{{mhs.size_punya}}</td>
            </tr>
            <tr class="spaceUnder">
                <td>Size Ingin</td>
                <td>{{mhs.size_ingin}}</td>
            </tr>
            <tr class="spaceUnder">
                <td>Deskripsi Jakun<span style="color: white;">AAAA</span></td>
                <td>{{mhs.desc}}</td>
            </tr>
            <tr class="spaceUnder">
                <td>Sudah Tukar</td>
                {% if mhs.sudah_tukar %}
                <td>Sudah</td>
                {% else %}
                <td>Belum</td>
                {% endif %}
            </tr>
            <tr class="spaceUnder">
                <td>WA</td>
                <td>{{mhs.kontak_wa}}</td>
            </tr>
            <tr class="spaceUnder">
                <td>Line</td>
                <td>{{mhs.kontak_line}}</td>
            </tr>
            <tr class="spaceUnder">
                <td>Intagram</td>
                <td>{{mhs.kontak_ig}}</td>
            </tr>
        </tbody>
    </table>
</div>
    
<div class="container" style="margin-bottom: 3rem;">
    <h2>Edit Profile</h2>
    <br>
    <h6>*Data kamu kerahasiaannya terjamin dan tidak dapat dilihat oleh pihak lain kecuali partner tukar jakun kamu*</h6>
    <br>
    {% if user.is_authenticated and user.username == mhs.user.username or user.is_superuser %}
    <form method="post" class="d-flex flex-column justify-content-center">
        {% csrf_token %}
      <div class="form-group row">
        <label for="nama" class="col-sm-2 col-form-label">Nama</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="nama" value="{{user.first_name}}">
        </div>
      </div>
      <div class="form-group row">
        <label for="npm" class="col-sm-2 col-form-label">NPM</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="npm" value="{{user.last_name}}">
        </div>
      </div>
      <div class="form-group row">
        <label for="fakultas" class="col-sm-2 col-form-label">Fakultas</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="fakultas" value="{{mhs.fakultas}}">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" name="size-punya" required>Size Punya</label>
        {% for x in ukuran %}
        <div class="form-check form-check-inline">
          {% if x == mhs.size_punya %}
          <input class="form-check-input" type="radio" name="spunya" required id={{x}} value={{x}} checked>
          {% else %}
          <input class="form-check-input" type="radio" name="spunya" required id={{x}} value={{x}}>
          {% endif %}
          <label class="form-check-label" for={{x}}>{{x}}</label>
        </div>
        {% endfor %}
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" name="size-ingin" required>Size Ingin</label>
        {% for x in ukuran %}
        <div class="form-check form-check-inline">
          {% if x == mhs.size_ingin %}
          <input class="form-check-input" type="radio" name="singin" required id={{x}} value={{x}} checked>
          {% else %}
          <input class="form-check-input" type="radio" name="singin" required id={{x}} value={{x}}>
          {% endif %}
          <label class="form-check-label" for={{x}}>{{x}}</label>
        </div>
        {% endfor %}
    </div>
      <div class="form-group row">
        <label for="desc">Deskripsi Jakun (Boleh Kosong)</label>
        <textarea class="form-control" id="desc" name="desc" maxlength="200">{{mhs.desc}}</textarea>
      </div>
      <br>
      <h3>Contact Person-mu (Boleh Hanya Isi Salah Satu)</h3>
      <br>
      <div class="form-group row">
        <label for="ig" class="col-sm-2 col-form-label">Instagram</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name='ig' id="ig" value="{{mhs.kontak_ig}}">
        </div>
      </div>
      <div class="form-group row">
        <label for="line" class="col-sm-2 col-form-label">Line</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="line" id="line" value="{{mhs.kontak_line}}">
        </div>
      </div>
      <div class="form-group row">
        <label for="wa" class="col-sm-2 col-form-label">WhatsApp</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="wa" id="wa" value="{{mhs.kontak_wa}}">
        </div>
      </div>
      <button type="submit" class="btn btn-dark">Update</button>
    </form>
    {% endif %}
</div>
{% endblock content %}

{% block js %}
    <script src="{% static 'js/trial.js' %}"></script>
{% endblock js %}