{% extends 'layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/trial.css' %}">
    <link rel="stylesheet" href="{% static 'css/list_user.css' %}">
{% endblock css %}

{% block title %}Cari Jakun{% endblock title %}

{% block content %}
<div class="tampilan">
    <h1 class="poppins">Cari Jakun</h1>
    <form method="get" accept-charset="utf-8">
        {{filter.form}}
    <button class="btn btn-light" type="submit">Search</button>
    </form>
    {% if User.sudah_buat_thread == false %}
    <br>
    <h6>Tidak menemukan hasil yang tepat? buat threadmu sendiri untuk dapat dilihat mahasiswa lain</h6>
    <button class="btn btn-dark">Buat Thread</button>
    <br>
    {% endif %}
    <table>
        <thead>
            <tr>
                <th class="header">Nama</th>
                <th class="header">Fakultas</th>
                <th class="header">Angkatan</th>
                <th class="header">Size Punya</th>
                <th class="header">Size Ingin</th>
            </tr>
        </thead>
        <tbody>
            {% for x in mhs %}
            <tr>
                <td class="body"><a href="./{{x.user.username}}" title="">{{x.user.first_name}}</a></td>
                <td class="body">{{x.fakultas}}</td>
                <td class="body">{{x.angkatan}}</td>
                <td class="body">{{x.size_punya}}</td>
                <td class="body">{{x.size_punya}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock content %}

{% block js %}
    <script src="{% static 'js/trial.js' %}"></script>
{% endblock js %}